html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html,
body {
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff;
  color: #655643;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative; }

.container {
  margin: 0 auto;
  padding: 25px;
  width: 50%; }

.text-center {
  text-align: center; }

footer {
  height: 50px;
  background-color: #222;
  position: absolute;
  width: 100%;
  padding: 1em;
  bottom: 0;
  left: 0;
  text-align: center; }
  footer a {
    color: #aaa; }
    footer a:hover {
      color: #fff; }

header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 25px;
  margin-bottom: 25px; }

h1 {
  font-size: 175%;
  margin-bottom: 25px;
  text-decoration: underline; }

h3 {
  font-size: 125%;
  margin-bottom: 25px; }

a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold; }
  a:hover {
    color: #525252;
    text-decoration: underline; }

p {
  line-height: 1.5em;
  margin-bottom: 12px; }

blockquote {
  line-height: 1.5em;
  background-color: #eee;
  padding: 10px;
  padding-bottom: 2em;
  font-style: italic;
  border-right: 7px solid #ccc;
  position: relative; }
  blockquote cite {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 75%;
    font-style: normal; }

.list-inline li {
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px; }

.project {
  padding-bottom: 25px;
  border-bottom: solid 1px #ccc;
  margin-bottom: 22px; }
  .project h3 a {
    color: #daa019; }

.hidden-section {
  display: none; }

@keyframes zoom {
  0%, 100% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); } }
.social-icons a {
  color: #333; }
  .social-icons a:hover {
    animation-duration: 1s;
    animation-name: zoom;
    animation-timing-function: ease out;
    animation-iteration-count: infinite; }

.content {
  padding-bottom: 75px; }

@media screen and (max-width: 768px) {
  header {
    margin-bottom: 25px; }

  .container {
    width: 75%; } }
@media screen and (max-width: 360px) {
  header {
    margin-bottom: 0px; }

  .container {
    width: 100%; }

  .list-inline li {
    display: inline-block;
    padding-left: 3%;
    padding-right: 3%; }
    .list-inline li:last-child {
      margin-top: 15px; } }

/*# sourceMappingURL=styles.css.map */
