$background-color: #fff;
$text-color: #655643;
$link-color: #333;
$link-color-hover: lighten($link-color, 12);
$footer-color: #222;
$social-icon-color: #333;
$project-title-color: darken(#E6AC27, 5);
