<section class="container hidden social-icons text-center" id="contact">
    <ul class="list-inline">
        <li class="social">
            <a data-title="mail" href="mailto:me@kartikanand.com" target="_blank">
                {% include icon.html icon="icon-mail" %}
            </a>
        </li>
        <li class="social">
            <a data-title="github" href="https://github.com/kartikanand" target="_blank">
                {% include icon.html icon="icon-github" %}
            </a>
        </li>
        <li class="social">
            <a data-title="stackoverflow" href="http://stackoverflow.com/users/1251851/kartik-anand" target="_blank">
                {% include icon.html icon="icon-stackoverflow" %}
            </a>
        </li>
        <li class="social">
            <a data-title="linkedin" href="https://in.linkedin.com/in/kartikanand1" target="_blank">
                {% include icon.html icon="icon-linkedin" %}
            </a>
        </li>
    </ul>
</section>
