<nav class="nav">
    <ul class="list">
        <li class="item">
            <a class="link" href="{{ site.url }}/">#ramblings</a>
            <span>|</span>
        </li>
        <li class="item">
            <a class="link" href="{{ site.url }}/lab">#lab</a>
            <span>|</span>
        </li>
        <li class="item">
            <a class="link" href="{{ site.url }}/me">#me</a>
            <span>|</span>
        </li>
        <li class="item">
            <a class="link" href="{{ site.url }}/quotes">#quotes</a>
        </li>
    </ul>
</nav>
