<nav class="nav">
    <ul class="list">
        <li class="item">
            <a class="link {% if title == 'ramblings' %}active{% endif %}" href="{{ site.url }}/">#ramblings</a>
            <span>|</span>
        </li>
        <li class="item">
            <a class="link {% if title == 'projects' %}active{% endif %}" href="{{ site.url }}/projects">#projects</a>
            <span>|</span>
        </li>
        <li class="item">
            <a class="link {% if title == 'me' %}active{% endif %}" href="{{ site.url }}/me">#me</a>
            <span>|</span>
        </li>
        <li class="item">
            <a class="link {% if title == 'quotes' %}active{% endif %}" href="{{ site.url }}/quotes">#quotes</a>
        </li>
    </ul>
</nav>
