<section class="container hidden" id="projects">
    <ul>
        <li class="project">
            <h3><a href="http://eat-out.herokuapp.com/" target="_blank">Eat Out</a></h3>
            <p>
                Finding random places to eat around you!
            </p>
            <a href="https://github.com/kartikanand/eat-out" target="_blank">Project Link</a>
        </li>
        <li class="project">
            <h3><a href="http://wikilooper.herokuapp.com" target="_blank">Wikilooper</a></h3>
            <p>
                Clicking on the first link in the main text of a Wikipedia article, and then repeating the process for subsequent articles, one would eventually get to the Philosophy article. Unless there is an article with no wikilinks or with links to pages that do not exist, or gets stuck in a loop. By entering the first article, this website will take you through the links one would encounter until it reaches Philosophy or gets stuck in a loop.
            </p>
            <a href="https://github.com/kartikanand/wikilooper" target="_blank">Project Link</a>
        </li>
        <li class="project">
            <h3><a href="http://www.kartikanand.com/tictactoe/" target="_blank">TicTacToe - Implementation of MiniMax algorithm</a></h3>
            <p>
                <blockquote cite="https://en.wikipedia.org/wiki/Minimax">
                    Minimax (sometimes MinMax or MM[1]) is a decision rule used in decision theory, game theory, statistics and philosophy for minimizing the possible loss for a worst case (maximum loss) scenario. Originally formulated for two-player zero-sum game theory, covering both the cases where players take alternate moves and those where they make simultaneous moves, it has also been extended to more complex games and to general decision making in the presence of uncertainty.
                    <cite>
                        <a href="https://en.wikipedia.org/wiki/Minimax">From Wikipedia</a>
                    </cite>
                </blockquote>
            </p>
            <a href="https://github.com/kartikanand/tictactoe" target="_blank">Project Link</a>
        </li>
        <li class="project">
            <h3><a href="http://www.kartikanand.com/espp/" target="_blank">ESPP Calculator</a></h3>
            <p>
                A simple app to calculate returns on your ESPP investment. The app assumes selling
                shares as soon as you get them to calculate profit.
            </p>
            <a href="https://github.com/kartikanand/espp" target="_blank">Project Link</a>
        </li>
        <li class="project">
            <h3><a href="http://www.kartikanand.com" target="_blank">This Website</a></h3>
            <p>
                My personal website. Feel free to make a pull request!
            </p>
            <a href="https://github.com/kartikanand/kartikanand.github.io" target="_blank">Project Link</a>
        </li>
    </ul>
</section>
