@import 'reset';

$background-color: #2C3E50;
$text-color: #fff;
$link-color: #F4D03F;
$link-color-hover: #F5AB35;
$footer-color: #000;

body {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    background-color: $background-color;
    color: $text-color;
}

.container {
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}

h1 {
    margin-bottom: 12px;
}

h1 {
    font-size: 175%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 125%;
    letter-spacing: 0.10em;
    margin-bottom: 50px;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-color-hover;
    }
}

.list-inline {
    li {
        display: inline-block;
        padding-left: 25px;
        padding-right: 25px;
    }
}

section {
    display: none;
    width: 75%;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

footer {
    color: $text-color;
    background-color: $footer-color;
    position: fixed;
    width: 100%;
    padding: 1em;
    margin-top: 100px;
    bottom: 0;
    left: 0;
    text-align: center;

    small {
        font-size: 75%;
    }
}