<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Kartik Anand</title>
        <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    </head>
    <body>

        {% include svg.html %}

        <div class="wrapper">

            {% include header.html %}

            {{ content }}

            {% include footer.html %}

        </div>

        <script type="text/javascript" src="assets/js/main.js"></script>
        
    </body>
</html>
